{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "loose": true,
    "targets": "> 0.5%, not op_mini all, Chrome >80, Firefox >90, Safari >13"
  },
  "module": {
      "type": "es6",
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "baseUrl": "./",
      "paths": {
            "@app/*": ["src/scripts/react-app/*"],
      },
    },
    "externalHelpers": true,
    "transform": {
      "react": {
        "runtime": "automatic",
        "useBuiltins": true
      }
    }
  },
}